.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.toastHeader {
  display: flex;
  justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&display=swap');

.toastText {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 900;
  font-size: 20px;
  font-style: normal;
  margin: 0;
}

.toastImage {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}


.ctaLink {
  display: flex;
  justify-content: center;
  background-color: rgb(229, 182, 17);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}